@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&display=swap");

*, body{
  font-family: "PT sans", sans-serif;
  background-color: #faf9f5;
}
#header {
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 60px;
}

h2,h3{
    background-color: white;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 40px 10%;
  border-radius: 20px;
  background-color: white;
  width: 20%;
  
}
